@font-face {
 font-family: "Open Sans";
 src: url("/fonts/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Libre Barcode 39";
    src: url("/fonts/Barcode.ttf") format("ttf");
   }